body {
  display: flex;
  flex-direction: column;
  align-items: center;

}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  /* или любая другая ширина */
  height: 960px;
  /* или любая другая высота */
  border: 1px solid black;
  /* Это поможет тебе увидеть сам контейнер */
}

#container>div {
  width: 60px;
  /* 960px / 16 = 60px */
  height: 60px;
  /* 960px / 16 = 60px */
  box-sizing: border-box;
  border: 1px solid #f30b0b;
  /* Это поможет тебе увидеть квадраты */
}

button {
  /* Размеры и отступы */

  margin-top: 10px;
  padding: 15px 40px;
  font-size: 18px;
  font-weight: 600;

  /* Типографика */
  text-transform: uppercase;
  letter-spacing: 2px;

  /* Цвета */
  color: #00ffff;
  background: transparent;
  border: 2px solid #00ffff;

  /* Форма */
  border-radius: 50px;

  /* Поведение */
  cursor: pointer;
  transition: all 0.3s ease;

  box-shadow:
    0 0 20px rgba(0, 255, 255, 0.3),
    /* Близкое свечение */
    0 0 40px rgba(0, 255, 255, 0.2),
    /* Среднее свечение */
    0 0 60px rgba(0, 255, 255, 0.1),
    /* Дальнее свечение */
    inset 0 0 20px rgba(0, 255, 255, 0.1);
  /* Внутреннее свечение */

}

span {
  display: flex;
  flex-direction: row;
  justify-content: center;
}